<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% if (users.length > 0) { %> <% users.forEach(user => { %>
      <li>
        ID: <%= user.id %> | Name: <%= user.firstName %> <%= user.lastName %>
      </li>
      <% }); %> <% } else { %>
      <li>No users yet.</li>
      <% } %>
    </ul>
    <a href="/create">Create a new user</a>
  </body>
</html>
